In [1]:
import pandas as pd

In [17]:
dataset = pd.read_csv('StudentsPerformance.csv')
dataset

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [18]:
dataset.shape

(1000, 8)

In [19]:
dataset.size

8000

In [20]:
dataset.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [21]:
dataset.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

# Total Score

total_score = math + reading + writing

In [22]:
# Create a column named total_score 
dataset['total_score'] = dataset['math score']+dataset['reading score']+dataset['writing score']

In [49]:
print(f'There are {dataset.shape[0]} rows and {dataset.shape[1]} columns in this dataset')

There are 1000 rows and 10 columns in this dataset

# Average score

average_score = total_score / 3

In [24]:
dataset['average_score'] = dataset['total_score']/3

In [25]:
dataset.shape

(1000, 10)

# Null or duplicated

In [29]:
# Check is there any null value present in dataset
dataset.isnull().sum()
print('There are no null values are there in the dataset')

There are no null values are there in the dataset

In [30]:
# show the duplicated values
dataset.duplicated().sum()
print('There are no diplucated values in the dataset.')

There are no diplucated values in the dataset.

# Pass ratio and fail ratio of students

In [34]:
# pass -> avg_score > 36.0
total_students = dataset.shape[0]
passed_students = dataset[dataset['average_score']>=36].shape[0]
failed_students = total_students - passed_students
passed_students_percentage = (passed_students/total_students)*100
failed_students_percentage = 100 - passed_students_percentage
print(f'There are {failed_students_percentage}% of students failed and {passed_students_percentage}% passed.')

There are 1.7999999999999972% of students failed and 98.2% passed.

# Out of all students how mant girls passed or failed and how many boys passed or failed.

1. Girls statistics

In [46]:
# Total girls out of 1000 students.
girls_data =  dataset[dataset['gender']=='female']
total_girls = girls_data.shape[0]
passed_girls = girls_data[girls_data['average_score']>36].shape[0]
failed_girls = total_girls - passed_girls
print(f'There were {total_girls} girls were enrolled in the course  , outof which {passed_girls} were passed and {failed_girls} failed.')

There were 518 girls were enrolled in the course  , outof which 506 were passed and 12 failed .

2. Boys statistics

In [47]:
boys_data =  dataset[dataset['gender']=='male']
total_boys = boys_data.shape[0]
passed_boys =boys_data[boys_data['average_score']>36].shape[0]
failed_boys = total_boys - passed_boys
print(f'There were {total_boys} boys were enrolled in the course  , outof which {passed_boys} were passed and {failed_boys} failed.')

There were 482 boys were enrolled in the course  , outof which 476 were passed and 6 failed.

# Who performed better, male students or female students

In [48]:
percentage_boys_passed = (passed_boys/total_boys)*100
percentage_girls_passed = (passed_girls/total_girls)*100
if percentage_boys_passed > percentage_girls_passed:
    print('Boys performed better than girls.')
else:
    print('Girls performed better than boys.')

Boys performed better than girls.

# Impact of the reading score on the student's maths score.

In [55]:
corr = dataset['reading score'].corr(dataset['math score'])
print(f'Correlation between students maths score and readig score is {corr:2f}')
print('Conclusion :- Students who perform well in reading also tend to perform well in math, indicating a strong positive correlation between the two skills')

Correlation between students maths score and readig score is 0.817580
Conclusion :- Students who perform well in reading also tend to perform well in math, indicating a strong positive correlation between the two skills